<nz-page-header class="site-page-header" nzBackIcon nzTitle="Προϊόντα" nzSubtitle="Επεξεργάσου τα προϊόντα">
    <nz-page-header-extra>
        <button *ngIf="products.length" (click)="createNewProduct()" nz-button nzType="primary">
            <i nz-icon [nzType]="'plus'"></i> Δημιουργία
        </button>
    </nz-page-header-extra>
</nz-page-header>

<div class="content">
    <br />
    <p nz-typography nzType="secondary">Δημιούργησε και επεξεργάσου τα προϊόντα του ψηφιακού καταστήματος</p>
    <br />
    <h3 *ngIf="!products.length">Διαθέσιμα προϊόντα</h3>

    <nz-empty
        *ngIf="!products.length"
        [nzNotFoundContent]="'Δεν υπάρχουν διαθέσιμα προϊόντα... Δημιούργησε το πρώτο!'"
        [nzNotFoundFooter]="footerTemplate"
    ></nz-empty>

    <ng-template #footerTemplate>
        <button nz-button nzType="primary"><i nz-icon nzType="plus"></i> Δημιουργία</button>
    </ng-template>

    <nz-table #basicTable [nzData]="products" nzPageSize="5">
        <thead>
            <tr>
                <th [nzSortFn]="nameCmpFn" [nzSortOrder]="null" [nzSortDirections]="['ascend', 'descend', null]">
                    Όνομα
                </th>
                <th [nzSortFn]="priceCmpFn" [nzSortOrder]="null" [nzSortDirections]="['ascend', 'descend', null]">
                    Τιμή
                </th>
                <th>Κατάσταση</th>
                <th>Περιγραφή</th>
                <th>Ενέργειες</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ data.name }}</td>
                <td>{{ data.price }}</td>
                <td *ngIf="!data.public">
                    <span nz-typography nzType="danger">Όχι δημόσιο</span>
                </td>
                <td *ngIf="data.public">
                    <span nz-typography nzType="success">Δημόσιο</span>
                </td>
                <td>{{ data.description }}</td>
                <td>
                    <a>Επεξεργασία</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a>Διαγραφή</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>
