.content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info {
        .cards {
            display: flex;
        }

        display: flex;
        flex-direction: column;
        width: 45%;
    }

    .graph {
        width: 45%;
        height: 100%;
    }
}
