.content {
    width: 100vw;
    height: 100vh;

    nz-layout {
        nz-content {
            .main {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-wrap: wrap;
                min-height: calc(100vh - 64px - 70px);
            }
        }

        nz-header {
            background-color: white;
        }

        nz-footer {
            background-color: white;
        }
    }
}
