<div class="content">
    <app-loading *ngIf="loading"> </app-loading>

    <nz-layout *ngIf="!loading">
        <nz-header>
            {{ store.name }}
        </nz-header>
        <nz-content>
            <div class="main">
                <nz-card
                    *ngFor="let product of store.products"
                    nzHoverable
                    style="width: 240px"
                    [nzCover]="coverTemplate"
                    [routerLink]="[product.url]"
                >
                    <nz-card-meta [nzTitle]="product.name" [nzDescription]="product.description"></nz-card-meta>
                </nz-card>
                <ng-template #coverTemplate>
                    <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
                </ng-template>
            </div>
        </nz-content>
        <nz-footer>
            <strong> Paymart {{ year }} </strong>
        </nz-footer>
    </nz-layout>
</div>
